<ion-view title="Features" hide-back-button="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
           <div ng-controller="DashboardCtrl">
 <header class="w3-container w3-indigo w3-padding" style="color:#fff !important;" id="myHeader">
 	<div class="w3-center">
 	<h2 style="color:#FFF;">Fill your Application form through mobile</h2>
 	<h5 style="color:#FFF;">No more waiting in the queue to get application form!!! no more walking to the college campus to pay you fees!! Do it everything on your phone<br><br></h5>
  </div>
</header>

<div class="list card">

  <div class="item item-avatar">
    <img src="img/simple.jpg">
    <h2>Simple Design</h2>
    
  </div>

  <div class="item item-body">
    
    <p>
      We use the simple javascript full stack framework to develop our cloud enabled software. It is simple to use and make your process easy.
    </p>
    
  </div>

  

</div>
<div class="list card">

  <div class="item item-avatar">
    <img src="img/all.jpg">
    <h2>We support all the platform</h2>
    
  </div>

  <div class="item item-body">
    
    <p>
      Don't limit yourself we understood student community use vast varty of mobile platform and web. So we developed our software for all the currently availble platform such as Android, IoS, Windows Phone, Firefox, Tizen and for your web.
    </p>
    
  </div>

  

</div>
<div class="list card">

  <div class="item item-avatar">
    <img src="img/pay.jpg">
    <h2>Pay through your Phone</h2>
    
  </div>

  <div class="item item-body">
    
    <p>
      No more cheque, DD and waiting the big queue to pay your fees. Just tap your mobile phone to pay your fees, Get your exam hall ticket, Don't have credit or Debit card don't worry we support career billing.
    </p>
    
  </div>

  
<br><br>
</div>

     </div>
      

  </ion-content>
</ion-view>
