<ion-view title="Contact Us" hide-back-button="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
           <div ng-controller="DashboardCtrl">
 <header class="w3-container w3-indigo w3-padding" style="color:#fff !important;" id="myHeader">
 	<div class="w3-center">
 	<h2 style="color:#FFF;">Let's Keep In Touch!</h2>
 	<h5 style="color:#FFF;">Connect with us to make your college/School campus cloud enabled make everything smart with our solution.<br><br></h5>
  </div>
</header>

<div class="card">
  <div class="item item-divider">
    Address:
  </div>
  <div class="item item-text-wrap">
    Thiagarajar College Campus,<br>
Opposite to Theppakulam,<br>
Madurai, Tamilnadu, India .
  </div>
  <div class="item item-divider">
    Phone:
  </div>
  <div class="item item-text-wrap">
    +91 8870002677
  </div>
  <div class="item item-divider">
    Email:
  </div>
  <div class="item item-text-wrap">
    nextcloudcampus@outlook.com
  </div>

</div>
<header class="w3-container w3-indigo w3-padding" style="color:#fff !important;" id="myHeader">
  <div class="w3-center">
  <h3 style="color:#FFF;">Submit your feedback here..</h3>
  
  </div>
</header>

<div class="list">
  <label class="item item-input item-floating-label">
    <span class="input-label"><font color="#225566">Name</font></span>
    <input type="text" placeholder="Enter Name..">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label"><font color="#225566">Email</font></span>
    <input type="email" placeholder="Enter Email..">
  </label>
  <label class="item item-input item-floating-label">
    <span class="input-label"><font color="#225566">Comments</font></span>
    <textarea placeholder="Enter your Message.."></textarea>
  </label>
</div>
<button class="button button-outline button-positive button-block">
  Submit
</button>
<br><br>
     </div>
      

  </ion-content>
</ion-view>
