<ion-view title="About App" hide-back-button="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
           <div ng-controller="DashboardCtrl">
 <header class="w3-container w3-indigo w3-padding" style="color:#fff !important;" id="myHeader">
  <div class="w3-center">
  <h2 style="color:#FFF;">Few many words About Us and Our Start-Up.</h2>
  
  </div>
</header>
<div class="w3-row-padding w3-margin-top">

  
    <div class="w3-card-2">
      <img src="img/cloud.png" alt="London" style="width:100%">
      <div class="w3-container">
      <p>NextCloudcampus is a startup company developing cloud enabled software products for college and schools to automate their tedious day to day process. </p>
      <p>The company is based out of Madurai started by young science college fresh out girls. Our three year of college life we are struggle a lot to follow our traditional methods to get application form, pay exam fees, get our hall ticket . Our college has 5000 odd people every time waiting the queue always to get their work done.</p>
      <p>It triggers us a idea to make a cloud based software to automate all the process in single touch using mobile phone. We are successfully running our pilot project in our college campus. This is application form for joining the college is implemented by us and lanuched in our college. New fresh out student filling application form paying their fees through mobile phone.</p>
      </div>
    </div>
  </div>
  <br/><br/>
  
  
     </div>
      

  </ion-content>
</ion-view>
