<ion-view view-title="NextCloudCampus">   
 <ion-content >       
        <ion-slide-box on-slide-changed="slideChanged(index)">
          <ion-slide style="background: #ef5350 center; background-size: cover; color:#FFF;">
            <h1 style="color:#FFF">Connecting College campus to the Cloud</h1><br>
           

            <h4 style="color:#FFF;"> Our Amazing product make all the collect automate their process in cloud.</h4>
            
          </ion-slide>
          <ion-slide style="background: #689f38 center; background-size: cover; color:#FFF;">
           <h1 style="color:#FFF">We understood student community better</h1><br>
           

            <h4 style="color:#FFF;">Our Mobile solution makes everything one touch for student pay your fees through your phone.</h4>
            
          </ion-slide>
          <ion-slide style="background: #0097a7 center; background-size: cover; color:#FFF;">
            <h1 style="color:#FFF">No Queue any more in college campus</h1><br>
           

            <h4 style="color:#FFF;">Your Exam hall ticket, marks everything come to your mobile phone using our push notication.</h4>
          </ion-slide>
          <ion-slide style="background: #6d4c41 center; background-size: cover; color:#FFF;">
            <h1 style="color:#FFF">Smart collect campus now possible everywhere</h1><br>
           

            <h4 style="color:#FFF;">Just install our app and Do More...</h4>
          </ion-slide>
        </ion-slide-box>

    </ion-content>
         <div class="button-bar" style="position: absolute; bottom: 0px; width: 100%">
            <button ui-sref="login" class="button button-positive button-block ">Login</button>
            <button ui-sref="signup" class="button button-balanced button-block ">Signup</button>
        </div>
    
</ion-view>
