<ion-view title="Projects" hide-back-button="false">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header padding">
           <div ng-controller="DashboardCtrl">
 <header class="w3-container w3-indigo w3-padding" style="color:#fff !important;" id="myHeader">
 	<div class="w3-center">
 	<h2 style="color:#FFF;">Our Project Journey</h2>
 	<h5 style="color:#FFF;">We already kick started to make cloudcampus enabled college in Madurai<br><br></h5>
  </div>
</header>

<div class="list">

    <a class="item item-avatar">
      <img src="img/nov.jpg">
      <h2>Thiagarajar college of<br> Arts and Science</h2>
      <p>Started a first prototype project<br> in our college campus.</p>
    </a>
    <a class="item item-avatar">
      <img src="img/mar.jpg">
      <h2>Lady Dock Women's<br> College</h2>
      <p>Bus timing information mobile application <br>and Applicaiton form online application.</p>
    </a>
    <a class="item item-avatar">
      <img src="img/may.png">
      <h2>KLN College of <br>Engineering</h2>
      <p>Online student fees collection<br> mobile app development.</p>
    </a>

</div>

     </div>
      

  </ion-content>
</ion-view>
